:9090 {
	basic_auth {
		admin $2a$12$tgM5GUK82z8UE1.xMe1/j.i.wtryPeRysqh2AbvXQcbQAOg/3u5ne
	}
	reverse_proxy / prometheus:9090 {
		header_up Host {host}
	}

	log {
		output stderr
	}
	tls internal
}

:9093 {
	basic_auth {
		admin $2a$12$tgM5GUK82z8UE1.xMe1/j.i.wtryPeRysqh2AbvXQcbQAOg/3u5ne
	}
	reverse_proxy / alertmanager:9093 {
		header_up Host {host}
	}

	log {
		output stderr
	}
	tls internal
}

:3000 {
	reverse_proxy / grafana:3000 {
		header_up Host {host}
		transport http {
			versions 2
		}
	}

	log {
		output stderr
	}
	tls internal
}

:9080 {
	reverse_proxy / homer-webapp:80 {
		header_up Host {host}
	}

	log {
		output stderr
	}
	tls internal
}
